@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #2C3E50; /* Deep Blue-Gray */
  --secondary-color: #ECF0F1; /* Soft Light Gray */
  --accent-color: #3498DB; /* Elegant Blue */
  --bg-light: #F8F9FA; /* Subtle Off-White */
  --bg-dark: #1E1E1E; /* Rich Dark Gray */
  --text-color: #333333; /* Readable Dark Gray */
}

body {
  background-color: var(--bg-light);
  color: var(--text-color);
}

dark-mode body {
  background-color: var(--bg-dark);
  color: var(--secondary-color);
}

.button {
  background-color: var(--primary-color);
  color: white;
  padding: 10px 15px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: var(--accent-color);
}

.btn {
  @apply px-5 py-2 bg-orange-500 hover:bg-orange-600 text-white rounded-lg transition-all shadow-md;
}

.btn-glass {
  @apply px-6 py-3 bg-white/30 text-black dark:text-white font-semibold backdrop-blur-lg rounded-lg shadow-lg hover:bg-white/50 dark:hover:bg-white/20 transition-all;
}
